body {
    font-family: 'Roboto', sans-serif;
}

/* making bootstrap columns centered */
.col-centered{
    float: none;
    margin: 0 auto;
}

.col-centered h1 {
    margin: 20px 0;
}

th {
    font-weight: normal;
}

table {
    font-size: 14px;
}

/* table's "border" */
.table-responsive {
    padding: 10px;
    background-color: #DDDDDD;
}

.table-responsive table {
    border: 1px solid #CCCCCC;
    margin: 0;
}

.table-responsive table thead {
    background-color: #494430;
    color: white;
    font-style: normal;
}

.table-responsive table tbody,
.table-responsive table tfoot{
    background-color: white;
    color: black;
}

.table tbody tr td {
     vertical-align: middle;
}

.table thead tr td {
     cursor: pointer;
}

.table thead tr td:hover {
     color: #CCCCCC;
}

/* Customizing the label (the container) */
.my-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* hiding the browser's default checkbox */
.my-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* creating a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #eee;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
}

/* yellow background on click */
.my-checkbox input:checked ~ .checkmark {
    background-color: #F39C20;
}

/* creating the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* showing the checkmark when checked */
.my-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* styling the checkmark/indicator */
.my-checkbox .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.table-responsive table tfoot .btn {
    background-color: white;
    text-align: center;
    width: 50px;
    height: 20px;
    padding-top: 0;
    text-align: center;
}

.table-responsive table tfoot .dropdown-menu {
    text-align: center;
    height: 90px;
}

.table-responsive table tfoot .dropdown ul li:hover {
    cursor: pointer;
}

.table-responsive table tfoot i:hover {
    cursor: pointer;
    color: #AAAAAA;
}

.my-form {
    text-align: right;
    margin-top: 20px;
}

.add-form {
    margin-top: 20px;
}